In [ ]:
!pip install bs4
!pip install requests

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
#Question 1: Requesting the web page of wikipedia.
wiki_page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
wiki_page

In [ ]:
soup = BeautifulSoup(wiki_page.content)
soup

In [ ]:
heading_tags = ["h1","h2","h3"]

for i in soup.find_all(heading_tags):
    print(i)

In [ ]:
import pandas as pd

In [ ]:
#2. Requesting for the webpage of IMDB TOP movies.
page_imdb = requests.get('https://www.imdb.com/chart/top/')
page_imdb

In [ ]:
soup_imdb = BeautifulSoup(page_imdb.content)
soup_imdb

In [ ]:
#Scraping the names.
scraped_movies = soup_imdb.find_all('td',class_="titleColumn")
scraped_movies

In [ ]:
# Creating For loop to remove the text.
movies = []
for movie in scraped_movies:
    movie = movie.get_text().replace('\n', "")
    movie = movie.strip("  ")
    movies.append(movie)
movies

In [ ]:
#Scraping the ratings.
scraped_ratings = soup_imdb.find_all('td', class_="ratingColumn imdbRating")
scraped_ratings

In [ ]:
# Creating For loop to remove the text.
ratings = []
for rating in scraped_ratings:
    rating = rating.get_text().replace('\n', "")
    rating = rating.strip("  ")
    ratings.append(rating)
ratings

In [ ]:
# Creating Dataset.
data = pd.DataFrame()
data['Movie Names'] = movies
data['Ratings'] = ratings
data.head()

In [ ]:
#3. Requesting for the webpage of IMDB Top Indian Movies.
page_indian = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page_indian

In [ ]:
soup_indian = BeautifulSoup(page_indian.content)
soup_indian

In [ ]:
# Scraping the movie names
scraped_indian_movies = soup_indian.find_all('td',class_="titleColumn")
scraped_indian_movies

In [ ]:
# Creating For loop to remove the text.
indianmovies = []
for indianmovie in scraped_indian_movies:
    indianmovie = indianmovie.get_text().replace('\n', "")
    indianmovie = indianmovie.strip("  ")
    indianmovies.append(indianmovie)
indianmovies

In [ ]:
# Scraping movie ratings.
scraped_indianratings = soup_indian.find_all('td', class_="ratingColumn imdbRating")
scraped_indianratings

In [ ]:
# Creating For loop to remove the text.
indianratings = []
for indianrating in scraped_indianratings:
    indianrating = indianrating.get_text().replace('\n', "")
    indianrating = indianrating.strip("  ")
    indianratings.append(indianrating)
indianratings

In [ ]:
#Creating Dataset.
data_indian = pd.DataFrame()
data_indian['Movie Names'] = indianmovies
data_indian['Ratings'] = indianratings
data_indian.head()

In [ ]:
# 4. Requesting for the webpage of meesho.
page_meesho = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page_meesho

In [ ]:
soup_meesho = BeautifulSoup(page_meesho.content)
soup_meesho

In [ ]:
# Scraping the product names.
scraped_names = soup_meesho.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS")
scraped_names

In [ ]:
# Creating For loop to remove the text.
names = []
for name in scraped_names:
    name = name.get_text().replace('\n', "")
    name = name.strip("  ")
    names.append(name)
names

In [ ]:
# Scraping the data for prices
scraped_prices = soup_meesho.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy")
scraped_prices

In [ ]:
# Creating For loop to remove the text.
prices = []
for price in scraped_prices:
    price = price.get_text().replace('₹', "")
    price = price.strip("  ")
    prices.append(price)
prices

In [ ]:
# Scraping the data for Discounts.
scraped_discounts = soup_meesho.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH")
scraped_discounts

In [ ]:
# Creating For loop to remove the text.
discounts = []
for discount in scraped_discounts:
    discount = discount.get_text().replace('₹', "")
    discount = discount.strip("  ")
    discounts.append(discount)
discounts

In [ ]:
# Finding the length of each scrapped data to create the data set.
print(len(names),len(prices),len(discounts))

In [ ]:
#Creating the data set.
df = pd.DataFrame({'Product name': names,'Prices': prices,'Discounts': discounts})
df

In [ ]:
# 7. Requesting the webpage of coreyms for scraping the data.
page_coreyms = requests.get('https://coreyms.com/')
page_coreyms

In [ ]:
soup_coreyms = BeautifulSoup(page_coreyms.content)
soup_coreyms

In [ ]:
# Scraping the data for headings
scraped_titles = soup_coreyms.find_all('h2',class_="entry-title")
scraped_titles

In [ ]:
# Creating For loop to remove the text.
titles = []
for title in scraped_titles:
    title = title.get_text().replace('\n', "")
    title = title.strip("  ")
    titles.append(title)
titles

In [ ]:
# Scraping the data for Dates.
scraped_dates = soup_coreyms.find_all('time', class_="entry-time")
scraped_dates

In [ ]:
# Creating For loop to remove the text.
dates = []
for date in scraped_dates:
    date = date.get_text().replace('\n', "")
    date = date.strip("  ")
    dates.append(date)
dates

In [ ]:
# Scraping the data for contents.
scraped_contents = soup_coreyms.find_all('div', class_="entry-content")
scraped_contents

In [ ]:
# Creating For loop to remove the text.
contents = []
for content in scraped_contents:
    content = content.get_text().replace('\n', "")
    content = content.strip("  ")
    contents.append(content)
contents

In [ ]:
# Scraping the data for Videos.
scraped_videos = []
for i in soup_coreyms.find_all('iframe', class_="youtube-player"):
    scraped_videos.append(i['src'])

scraped_videos

In [ ]:
#8. Requesting the webpage of NOBROKER for scraping the data. 
page_nobroker = requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d')
page_nobroker

In [ ]:
soup_nobroker = BeautifulSoup(page_nobroker.content)
soup_nobroker

In [ ]:
# Scraping the data for house names.
scraped_housenames = soup_nobroker.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full")
scraped_housenames

In [ ]:
# Creating For loop to remove the text.
housenames = []
for housename in scraped_housenames:
    housename = housename.get_text().replace('\n', "")
    housename = housename.strip("  ")
    housenames.append(housename)
housenames

In [ ]:
# Scraping the data for locations.
scraped_houselocations = soup_nobroker.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95")
scraped_houselocations

In [ ]:
# Creating For loop to remove the text.
houselocations = []
for houselocation in scraped_houselocations:
    houselocation = houselocation.get_text().replace('\n', "")
    houselocation = houselocation.strip("  ")
    houselocations.append(houselocation)
houselocations

In [ ]:
# Scraping the data for house details.
scraped_housedetails = soup_nobroker.find_all('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0")
scraped_housedetails

In [ ]:
# Creating For loop to remove the text.
housedetails = []
for housedetail in scraped_housedetails:
    housedetail = housedetail.get_text().replace('\n', "")
    housedetail = housedetail.strip("  ")
    housedetails.append(housedetail)
housedetails

In [ ]:
# Checking the lenght of each scrapped data for creating the data set.
print(len(housenames),len(houselocations),len(housedetails))

In [ ]:
# Creating the data set.
df_house = pd.DataFrame({'House title': housenames,'Location': houselocations,'Price': housedetails})
df_house

In [ ]:
# 9. Requesting the webpage of Dineout for scraping the data.
page_dine = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page_dine

In [ ]:
soup_dine = BeautifulSoup(page_dine.content)
soup_dine

In [ ]:
# Scraping the data for Restaurant names. 
scraped_dinenames = soup_dine.find_all('div',class_="restnt-info cursor")
scraped_dinenames

In [ ]:
# Creating For loop to remove the text.
restaurants = []
for restaurant in scraped_dinenames:
    restaurant = restaurant.get_text().replace('\n', "")
    restaurant = restaurant.strip("  ")
    restaurants.append(restaurant)
restaurants

In [ ]:
# Scraping the data for locations.
scraped_dinelocations = soup_dine.find_all('div',class_="restnt-loc ellipsis")
scraped_dinelocations

In [ ]:
# Creating For loop to remove the text.
restaurant_locations = []
for restaurant_location in scraped_dinelocations:
    restaurant_location = restaurant_location.get_text().replace('\n', "")
    restaurant_location = restaurant_location.strip("  ")
    restaurant_locations.append(restaurant_location)
restaurant_locations

In [ ]:
# Scraping the data for details.
scraped_dinedetails = soup_dine.find_all('div',class_="detail-info")
scraped_dinedetails

In [ ]:
# Creating For loop to remove the text.
restaurant_details = []
for restaurant_detail in scraped_dinedetails:
    restaurant_detail = restaurant_detail.get_text().replace('\n', "")
    restaurant_detail = restaurant_detail.strip("  ")
    restaurant_details.append(restaurant_detail)
restaurant_details

In [ ]:
# Scraping the data for ratings.
scraped_dineratings = soup_dine.find_all('div',class_="restnt-rating rating-4")
scraped_dineratings

In [ ]:
# Creating For loop to remove the text.
restaurant_ratings = []
for restaurant_rating in scraped_dineratings:
    restaurant_rating = restaurant_rating.get_text().replace('\n', "")
    restaurant_rating = restaurant_rating.strip("  ")
    restaurant_ratings.append(restaurant_rating)
restaurant_ratings

In [ ]:
# Scraping the data for images.
scraped_dineimages = soup_dine.find_all('img',class_="no-img")
scraped_dineimages

In [ ]:
# Creating For loop to remove the text.
restaurant_images = []
for restaurant_image in scraped_dineimages:
    restaurant_images.append(restaurant_image['data-src'])
restaurant_images

In [ ]:
# Checking the length of each scrapped data for creating the data set.
print(len(restaurants),len(restaurant_locations),len(restaurant_details),len(restaurant_ratings),len(restaurant_images))

In [ ]:
# Creating the data set.
df_restaurants = pd.DataFrame({'Restaurant name': restaurants,'Cuisine and Prices': restaurant_details,'Location': restaurant_locations,'Ratings': restaurant_ratings,'Image URL': restaurant_images})
df_restaurants

In [ ]:
# 10. Requesting the Webpage of Bewakoof for scraping the data. 
page_bewakoof = requests.get('https://www.bewakoof.com/men-clothing/category-t-shirt')
page_bewakoof

In [ ]:
soup_bewakoof = BeautifulSoup(page_bewakoof.content)
soup_bewakoof

In [ ]:
products_name = []

In [ ]:
# Scraping the names of products.
for a in soup_bewakoof.find_all('div',class_="productCardBox"):
    name = a.find('h3')
    products_name.append(name.text)
products_name

In [ ]:
# Scraping the prices.
s_prices = soup_bewakoof.find_all('span',class_="discountedPriceText")
s_prices

In [ ]:
# Creating For loop to remove the text.
shirts_prices = []
for shirts_price in s_prices:
    shirts_price = shirts_price.get_text().replace('₹', "")
    shirts_prices.append(shirts_price)
shirts_prices

In [ ]:
# Scraping the actual prices.
a_prices = soup_bewakoof.find_all('span',class_="actualPriceText")
a_prices

In [ ]:
# Creating For loop to remove the text.
actual_prices = []
for aprice in a_prices:
    aprice = aprice.get_text().replace('₹', "")
    actual_prices.append(aprice)
actual_prices

In [ ]:
# Scraping the data for images.
s_img = soup_bewakoof.find_all('img',class_="productImgTag")
s_img

In [ ]:
# Creating For loop to remove the text.
shirts_images = []
for image1 in s_img:
    shirts_images.append(image1['src'])
shirts_images

In [ ]:
# Checking the lenght of the scraped data for creating the data set.
print(len(products_name),len(shirts_prices),len(actual_prices), len(shirts_images))

In [ ]:
# Crating the data set.
df_shirts = pd.DataFrame({'Product name': products_name,'Prices': shirts_prices,'Actual Price': actual_prices,'Image URL': shirts_images})
df_shirts